

#img_container
{
    width:70%;
    height:70%;
    margin:auto;
    display:block;
    background-image:url('../images/transparent_grid.png');
    background-size:contain;
    border:solid 1px black;
    margin-top:15px;
}

#output_image
{
    width:100%;
}



textarea {
  resize: none;
  width:300px;
  padding:5px;
  white-space: pre-line;

}

p
{
margin-left:5px;
}



pre {
  background: #EEE;
  padding-top: 1em;
  border-left: 5px solid #69c773;
}